<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h2>Fill this form:</h2>
    <form action="/submit" method="post">
      <input
        type="text"
        name="name"
        placeholder="Enter Your Name"
      /><br /><br />
      <input
        type="email"
        name="email"
        placeholder="Enter Your email"
      /><br /><br />
      <input
        type="number"
        name="age"
        placeholder="Enter Your age"
      /><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
