<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Page</title>
  </head>

  <body style="background-color: rgb(51, 51, 51); color: burlywood">
    <u><h1>Form Submit</h1></u>
    <form action="/submit" method="post">
      <input type="text" placeholder="enter name" name="name" required />
      <input type="text" placeholder="enter email" name="email" required />
      <button>Submit</button>
    </form>
  </body>
</html>
